In [3]:
import pandas as pd
import os

# Set working directory
os.chdir(r"d:\tong\teaching\fin7047\2025fall\project")

# Load the CSV (first row is header by default)
df = pd.read_csv(r"d:\tong\teaching\fin7047\2025fall\project\btcsent_tdm.csv", header=0)

df

            GOID        Date                         Title sentiment
0     2561745988   7/17/2021       July 17, 2021 (Page A1)         0
1     2579922005    9/9/2021  September 9, 2021 (Page B11)         3
2     3249492439    9/9/2025  September 9, 2025 (Page B11)         0
3     3128206667   11/8/2024    November 8, 2024 (Page A3)         7
4     3235173712   7/26/2025      July 26, 2025 (Page A12)         0
...          ...         ...                           ...       ...
3757  2609980530   12/1/2021   December 1, 2021 (Page A15)         0
3758  3251633228   9/15/2025  September 15, 2025 (Page B1)         8
3759  3222719781   6/18/2025       June 18, 2025 (Page A1)         8
3760  2546815065   5/14/2021        May 14, 2021 (Page A2)         0
3761  2765216044  12/31/2022   December 31, 2022 (Page B1)         3

[3762 rows x 4 columns]

In [6]:
# Convert Date column to datetime
df[date_col] = pd.to_datetime(df[date_col])

# ✅ Convert sentiment column to numeric (coerce errors -> NaN)
df[score_col] = pd.to_numeric(df[score_col], errors='coerce')

# Extract year and month
df['YearMonth'] = df[date_col].dt.to_period('M')

# Group by month and calculate average score
monthly_avg = df.groupby('YearMonth')[score_col].mean().reset_index()

# Convert YearMonth back to string for saving
monthly_avg['YearMonth'] = monthly_avg['YearMonth'].astype(str)

# Save result to new CSV
output_path = r"d:\tong\teaching\fin7047\2025fall\project\monthly_average_score.csv"
monthly_avg.to_csv(output_path, index=False)

print("✅ Monthly average score saved to:", output_path)
print(monthly_avg)

✅ Monthly average score saved to: d:\tong\teaching\fin7047\2025fall\project\monthly_average_score.csv
   YearMonth  sentiment
0    2020-01   3.833333
1    2020-02   1.117647
2    2020-03   1.333333
3    2020-04   1.666667
4    2020-05   1.857143
..       ...        ...
64   2025-05   2.460317
65   2025-06   2.075758
66   2025-07   2.140845
67   2025-08   2.053571
68   2025-09   2.294118

[69 rows x 2 columns]